.body {
    font-family: 'Inter', sans-serif;
    margin: 0%;
    height: 100vh;
}

.container {
    max-width: 428px;
    margin: 0% auto;
    background-color: #313438;
}

.header {
    display: flex;
    justify-content: space-evenly;
    color: white;
    background: linear-gradient(90deg, rgba(209,233,57,1) 0%, rgba(116,175,64,1) 100%);
    padding: 2em 0;
    align-items: center;
}

.contact-search {
    font-size: 1.2em;
    padding: .3em;
    border-radius: 50px;
    border: 5px solid #ffffff;
    outline: none;
}

i {
    font-size: 1.5em;
    color: white;
    padding-left: 1em;
}

.contact-name {
    font-size: 1.2em;
    color: whitesmoke;
}

.relationship {
    color: whitesmoke;
    width: 6em;
    text-align: center;
    padding: .4em .5em;
    border-radius: 75px;
    border-top-left-radius: 0;
    background-color: #75a85e;
    font-size: .8em;
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

.hr {
    border: 1px solid #494a4b;
}

.list-item {
    list-style: none;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    transition: 0.3s;
}

.contact-section:hover {
    background-color: #48494a;
}

